@page
@{
}

@section Stylesheets {
<link href="@Url.Content("~/css/401_page.css")" rel="stylesheet" type="text/css" />
}

<div id="notfound">
    <div class="notfound">
        <div class="notfound-404">
            <div></div>
            <h1>401</h1>
        </div>
        <h2>Unauthorised Access</h2>
        <p>You do not have permission to view the requested page.</p>
        <a href="/" class="mt-5">home page</a>
    </div>
</div>