<div id="date-picker-container">
    <div class="row mt-3">
        <div class="col-md-16">
            <div class="form-group date-input-container">
                <label for="startDate" class="col-sm-1 col-form-label" style="margin-right: 0.4%;">Start Date</label>
                <div class="input-group" id="start-datetime-picker">
                    <input type="text" class="form-control" name="StartDate" />
                    <div class="input-group-addon input-group-prepend">
                        <span class="input-group-text bg-white d-block calendar-icon-container">
                            <i class="fa-solid fa-calendar-days"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class='col-md-16'>
            <div class="form-group date-input-container">
                <label for="endDate" class="col-sm-1 col-form-label" style="margin-right: 2%;">End Date</label>
                <div class="input-group" id="end-datetime-picker">
                    <input type="text" class="form-control" name="EndDate" id="start-date" />
                    <div class="input-group-addon input-group-prepend">
                        <span class="input-group-text bg-white d-block calendar-icon-container">
                            <i class="fa-solid fa-calendar-days"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>